@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply lg:h-full;
  }
  body {
    @apply bg-[url('../images/bg-pattern-top-mobile.svg'),_url('../images/bg-pattern-bottom-mobile.svg')] bg-[length:100%_15%,100%_40%] bg-[position:top_left,_bottom_right] bg-no-repeat 
           lg:h-full lg:bg-[url('../images/bg-pattern-top-desktop.svg'),_url('../images/bg-pattern-bottom-desktop.svg')] lg:bg-[length:40%_40%,75%_85%];
  }
}
